**Analisis exploratorio** del dataframe. lo primero que deberéis hacer es un pequeño análisis exploratorio donde saquéis: 

- Número de filas y columnas

- Cuáles son los nombres de las columnas

- Los nombres de las columnas tienen espacios. Cambiar los nombres de las columnas, para que en vez de espacios tengan "_"

- ¿Cuántos nulos tiene nuestro df? Mostrad solo aquellas filas que tengan nulos y en formato del porcentaje

- ¿Tenemos duplicados en nuestro df?

- ¿Cuáles son los principales estadísticos de las variables numéricas? ¿Y de las categóricas? Mostrad los resultados por separado. 

- Cread un subdataframe que contenga unicamente las columnas de tipo *object*

**Cread una columna que se llame `id`, que contenga números consecutivos que no se repitan**

**Cread una columma nueva usando la columna `stays_in_weekend_nights`**

Basandonos en esta columna queremos dividir las estancias en dos categorías: 

- Estancias superiores a 5 dias serán etiquetadas como "long stay" 

- Estancias iguales o inferiores a 5 días serán consideradas como "short stay"

- Cread una nueva columna que se llame "stays_type" 

- Mostrad las 6 últimas filas

**Basandonos en la columna `required_car_parking_spaces`:**

- Chequead los valores únicos de la columna

- De cada una de las categorías de la columna, ¿cuántos registros tenemos de cada uno de ellos? Mostrad este resultado como un DataFrame

- Esta columna está en formato numérico y no nos interesa. Cambiad los 0 por "No" y mayores que 0 por "Si"

- Cread una nueva columna que se llame "parking"

**Utilizando la columna de `reservation_status_date`:**

- Cread dos columnas nuevas que correspondan con  el mes y el año. 

- Una vez que las hayais creado eliminad la columna `reservation_status_date`

- ¿Qué mes es en el que tenemos más reservas? ¿Y el año?

**Ahora no nos interesan los meses en números y queremos tenerlos con letra, es decir, enero, febrero, marzo, etc... Cambiad los valores de la columna "month" para tenerlos en el formato que queremos.**

**¿Cuál es el número medio, el máximo y el mínimo de noches pasadas en fines de semana en funcion del tipo de hotel (columma `hotel`)? ¿Y los días entre semana?**

**¿ Basándonos en el país y en el tipo de hotel, cual es la media de adultos de las reservas?**

**BONUS** Si exploramos los datos del ejercicio anterior, veremos que hay en paises donde solo tenemos un tipo de hotel y en otros tenemos los dos tipos. En este caso, deberéis quedaros solo con aquellos paises que tengan los dos tipos de hoteles. ¿Cuántos países distintos tenemos en este nuevo resultado que acabamos de generar?

**Basándonos en la columna de `hotel` filtrad los datos para extraer solo los valores de "Resort Hotel"**

**Basándonos en la columa `meal` extraed solo los valores que correspondan con "BB" y "FB"**

**En este caso, nos interesan los datos donde tengamos reservas sin niños y sin niños**

**¿Cuáles son los valores únicos de la columna `children`?**

**¿Por qué nos sale con decimales?**

**Reemplazad los valores nulos por la moda**

**Viendo los valores únicos del número de hijos, hay algo que os llame la antención?**

**Ahora queremos ordenar nuestros datos, lo haremos por el año** Las condiciones para ordenar son: 

- Año: de menor a mayor

**Ordendad de nuevo el df, pero en este caso en función de número de adultos y niños.** Las condiciones para ordenar son: 

- Número de adultos: de mayor a menor

- Número de hijos: de menor a mayor

**Después de hacer este último orden, nuestros índices ya no están ordenados, ordenad los índices para que empiecen desde el cero**

**Momento de practicar con el loc e iloc**

- Extraed todas las columnas para el índice 1

- Extraed las colummas de adultos, niños y bebes de todas las filas pares

- Extraed todas las filas de la columna hotel (utilizad loc o iloc)