<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#¿Qué-son?" data-toc-modified-id="¿Qué-son?-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>¿Qué son?</a></span></li><li><span><a href="#Map" data-toc-modified-id="Map-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Map</a></span></li><li><span><a href="#Filter" data-toc-modified-id="Filter-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Filter</a></span></li><li><span><a href="#Reduce" data-toc-modified-id="Reduce-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Reduce</a></span></li></ul></div>

# ¿Qué son?

- Las tres funciones son funciones incorporadas aplicadas a iterables (listas, tuplas etc.), que realizan operaciones de mapeo, cálculo recursivo y filtrado en los iterables. 


- Brindan un enfoque más elegante y abreviado para nuestro código.


- Estas tres funciones a menudo se usan junto con funciones lambda o *list comprehensions*.


![image.png](https://github.com/Ironhack-Data-Madrid-PartTime-Oct22/imagenes/blob/master/semana-3/MFR.png?raw=true)

# Map

Podemos utilizar la función map de Python para generar una nueva lista a partir de un iterable.

Map es una función que toma como entrada un iterable y una función. Aplicará a cada elemento de la lista una acción  a través de esta función (o una lambda) y producirá una nueva lista con el mismo número de elementos.

```python
# Sintaxis básica de map
new_list = list(map(funcion, iterable))
```

📌 Los iterables pueden ser listas, tuplas o sets

Podemos usar funciones que vengas predefinidas en Pyhton:

In [1]:
lista = ['brocoli', 'chorizo', 'zanahoria', 'jamon']

Queremos poner todos los elementos de nuestra lista en mayúscula

In [3]:
# con un for
nueva_lista = []
for i in lista: 
    nueva_lista.append(i.upper())
nueva_lista

['BROCOLI', 'CHORIZO', 'ZANAHORIA', 'JAMON']

In [4]:
# o con una list comprehension
nueva_lista2 = [i.upper() for i in lista]
nueva_lista2

['BROCOLI', 'CHORIZO', 'ZANAHORIA', 'JAMON']

In [5]:
# con map-- sintaxis: funcion, iterable
nueva_lista3 = list(map(str.upper, lista)) ##hay que indicar el tipo de objeto que se quiere usar --> upper es un método de string, hay que poner que str.upper
nueva_lista3 ## encima hay que cambiar el tipo del objeto, para que sea un objeto que podemos ver

['BROCOLI', 'CHORIZO', 'ZANAHORIA', 'JAMON']

In [6]:
# o evaluar la longitud de cada elemento
longitud = list(map(len, lista))
longitud

[7, 7, 9, 5]

También podemos usar funciones que definamos nosotros. En este caso, queremos elevar al cuadrado todos los elementos de una lista de números

In [7]:
# generamos una secuencia de números aleatorios
import random
numeros = random.sample(range(1,50), 20)
numeros

[10, 28, 7, 48, 39, 4, 37, 5, 30, 27, 33, 42, 41, 20, 16, 31, 22, 12, 25, 32]

In [12]:
# definimos la función que queremos aplicar

def cuadrado_lista(lista):
    numeros_cuadrados = []
    for item in lista:
            numeros_cuadrados.append(item ** 2)
    return numeros_cuadrados

In [13]:
cuadrado_lista(numeros)

[100,
 784,
 49,
 2304,
 1521,
 16,
 1369,
 25,
 900,
 729,
 1089,
 1764,
 1681,
 400,
 256,
 961,
 484,
 144,
 625,
 1024]

In [14]:
list(map(cuadrado_lista, numeros)) ## da error porque hay un bucle en la función

TypeError: 'list' object is not callable

In [15]:
# definimos la función que queremos aplicar

def cuadrado_lista2(numero):
    return numero ** 2
list(map(cuadrado_lista2, numeros))

[100,
 784,
 49,
 2304,
 1521,
 16,
 1369,
 25,
 900,
 729,
 1089,
 1764,
 1681,
 400,
 256,
 961,
 484,
 144,
 625,
 1024]

In [16]:
mi_lambda = lambda x : x ** 2
list(map(mi_lambda, numeros))

[100,
 784,
 49,
 2304,
 1521,
 16,
 1369,
 25,
 900,
 729,
 1089,
 1764,
 1681,
 400,
 256,
 961,
 484,
 144,
 625,
 1024]

In [17]:
list(map(lambda x : x ** 2, numeros))

[100,
 784,
 49,
 2304,
 1521,
 16,
 1369,
 25,
 900,
 729,
 1089,
 1764,
 1681,
 400,
 256,
 961,
 484,
 144,
 625,
 1024]

In [8]:
# definimos la función que queremos aplicar

def cuadrados(x):
    return x ** 2

In [10]:
# aplicamos la función en el map

cuadr = list(map(cuadrados, numeros))
print(cuadr)

[1225, 144, 289, 1296, 1089, 1849, 529, 1600, 1, 1681, 225, 2401, 441, 1764, 1444, 2304, 169, 361, 196, 1369]

🤔🤯 **Retito**, como lo haríamos con una lambda? 🤔🤯

In [12]:
cuadr2 = list(map(lambda x : x ** 2, numeros))
print(cuadr2)

[1225, 144, 289, 1296, 1089, 1849, 529, 1600, 1, 1681, 225, 2401, 441, 1764, 1444, 2304, 169, 361, 196, 1369]

En el `map` podemos incluir varios iterables. Por ejemplo, tenemos dos listas y queremos elevar el primer número de una lista con el primer elemento de la segunda lista

In [18]:
primero = [1, 2, 3, 6]
segundo = [4, 5, 6, 7]

In [19]:
potencia = []
for i, j in zip(primero, segundo):
    potencia.append(i ** j)
potencia

[1, 32, 729, 279936]

In [23]:
elevado2 = []
for indice, valor in enumerate(primero):
    print(indice, "___", valor)
    elevado2.append(valor ** segundo[indice])
elevado2

0 ___ 1
1 ___ 2
2 ___ 3
3 ___ 6

[1, 32, 729, 279936]

In [25]:
def elevar(num1, num2):
    return num1 ** num2

In [26]:
list(map(elevar, primero, segundo))

[1, 32, 729, 279936]

In [29]:
# aplicamos map
elevado = list(map(pow, primero, segundo))
elevado

[1, 32, 729, 279936]

O incluso usando lambdas. Imaginas que queremos sumar los elementos de tres listas diferentes:

In [30]:
lista1 = [2, 4]
lista2 = [1, 3]
lista3 = [7, 8]

In [31]:
def con_zip (lista1, lista2, lista3):
    resultado = []
    for i, x, z in zip(lista1, lista2, lista3):
        resultado.append( i + x + z)
    return resultado

In [32]:
con_zip(lista1, lista2, lista3)

[10, 15]

In [25]:
def suma (x, y , z):
    return x + y + z

In [26]:
suma_total = list(map(suma, lista1, lista2, lista3))
suma_total

[10, 15]

In [27]:
suma_total2 = list(map(lambda x, y, z : x + y + z, lista1, lista2, lista3))
suma_total2

[10, 15]

# Filter

Literalmente filtra los elementos según una condición dada. 

La función comprueba una determinada condición y decide si cada uno de los elementos del iterable cumple la condición dada o no. Después de comprobar la condición, la función verifica verdadero o falso en consecuencia.


```python
# Sintaxis básica de filter. Es la misma que el map!!
new_list = list(filter(funcion, iterable))
```



📌 El iterable puede ser listas, tuplas, sets

Supongamos que tenemos una lista de números y queremos filtrar los números "pequeños". En este caso, pequeños significa números que son menores de 5. 

¿Cómo se aplica `filter` para obtener el resultado?

In [47]:
# definimos nuestra lista de números
lista_filtrar = random.sample(range(1, 10), 9)
lista_filtrar

[8, 7, 2, 5, 6, 4, 3, 9, 1]

In [36]:
## filtrar números pares
def pares(num):
    if num % 2 == 0:
        return num

In [38]:
list(filter(pares, lista_filtrar)) ## filtra los que cumplen la condición

[4, 2, 8, 6]

In [40]:
list(map(pares, lista_filtrar)) ## si usamos map, nos da los que cumplen la condición y los que no -- como no tiene return la función, nos da

[None, 4, 2, None, 8, 6, None, None, None]

In [53]:
list(filter((lambda x: [x for x in lista_filtrar if x % 2 == 0]), lista_filtrar)) ## no funcionaría con un lambda, tendrías que hacer un for 2 veces

[8, 7, 2, 5, 6, 4, 3, 9, 1]

In [49]:
list(filter((lambda x: x % 2 == 0), lista_filtrar)) ## no funcionaría con un lambda, tendrías que hacer un for 2 veces

[8, 2, 6, 4]

In [58]:
lista_palabras = ['hola', 'adios']
list(map(lambda x: [i.upper() for i in x], lista_palabras)) ## con un string si que puede iterar, por lo que te acaba generando una lista de listas que contiene los caracteres

[['H', 'O', 'L', 'A'], ['A', 'D', 'I', 'O', 'S']]

In [59]:
# como lo haríamos de forma tradicional

def filtrando(lst):
    menores = []
    for i in lst:
        if i < 5:
            menores.append(i)
    return menores

In [60]:
filtrando(lista_filtrar)

[2, 4, 3, 1]

In [61]:
# lo primero que tendremos que hacer es definir nuestra función
def filtrando (x):
    return x < 5

In [62]:
# aplicamos filter
menores2 = list(filter(filtrando, lista_filtrar))
menores2

[2, 4, 3, 1]

🤔🤯 **Nuevo Retito**, como lo haríamos con una lambda? 🤔🤯

In [35]:
menores3 = list(filter(lambda x: x < 5, lista_filtrar))
menores3

[3, 2, 1, 4]

Tenemos una lista de números y tenemos que sacar los impares

In [38]:
numeros = [1, 3, 10, 45, 6, 50]

In [36]:
# como lo haríamos de la forma tradicional
def sacar_impares(lst):
    impares = []
    for i in lst:
        if i % 2 != 0:
            impares.append(i)
    return impares

In [39]:
sacar_impares(numeros)

[1, 3, 45]

In [40]:
# con filter
def sacar_impares2 (x):
    return x % 2 != 0

In [45]:
# filter nos va a devolver de la misma forma que el map un objeto de tipo filter. Necesitamos convertirlo a humano 
## usando list

filter(sacar_impares2, numeros)

In [42]:
impares2 = list(filter(sacar_impares2, numeros))
impares2

[1, 3, 45]

In [44]:
impares3 = list(filter(lambda x: x % 2 != 0, numeros))
impares3

[1, 3, 45]

🌊💪 **EJERCICIO** 💪🌊

Nos van a pasar una lista de palabras y sacar aquellas que tienen "i".

In [13]:
lista = ['brocoli', 'chorizo', 'zanahoria', 'jamon']

In [65]:
# definimos la función
def letras (x):
    if "i" in x:
        return x

In [68]:
# aplicamos el filter

con_i = list(filter(letras, lista))
con_i

['brocoli', 'chorizo', 'zanahoria']

# Reduce

Reduce toma una condición y aplica esa condición al iterable de manera que nuestra salida se "reduce" a un solo valor.

En este caso necesitamos importarnos una librería

```python
from functools import reduce
```



```python
# Sintaxis básica de reduce, igual que filter y map!
new_list = reduce(funcion, iterable) # ⚠️ ojo que en este caso no hay que poner `list`
```

In [63]:
from functools import reduce

Queremos encontrar la suma de todos los valores de nuestra lista.

In [64]:
# definimos nuestra lista de números aleatorios
lista_random = random.sample(range(1,50), 21)
print(lista_random)

[43, 3, 10, 48, 18, 36, 29, 25, 4, 16, 1, 38, 44, 34, 40, 26, 13, 30, 2, 35, 46]

In [65]:
# antes de reduce

def suma_elementos(lst):
    resultado = 0
    for i in lst:
        resultado += i
    return resultado

In [66]:
suma_elementos(lista_random)

541

In [68]:
# después de reduce 
def suma_elementos2 (x, y):
    return x + y

In [69]:
# aplicamos reduce
suma2 = reduce(suma_elementos2, lista_random)
suma2

541

In [70]:
# aplicamos reduce
suma2 = reduce(suma_elementos2, lista_random[10:15])
suma2

157

In [73]:
# después de reduce 
def suma_elementos3 (x, y, z):
    return (x + y) / z

In [74]:
# aplicamos reduce
suma3 = reduce(suma_elementos3, lista_random[10:15]) ## no se admiten tres parámetros
suma3

TypeError: suma_elementos3() missing 1 required positional argument: 'z'

In [71]:
def suma_elementos3 (x, y, z):
    return x + y * z

In [72]:
# si definimos una función que recibe tres parámetros nos dará error ya que reduce solo accederá a los elementos de la 
## lista de dos en dos. 

suma3 = reduce(suma_elementos3, lista_random)
suma3

TypeError: suma_elementos3() missing 1 required positional argument: 'z'

In [61]:
# aunque usemos lambda nos dará error 

suma4 = reduce(lambda x,y, z: x + y * z, lista_random)

TypeError: <lambda>() missing 1 required positional argument: 'z'

In [62]:
# después de reduce y lambda
suma5 = reduce(lambda x,y: x + y , lista_random)
suma5

511