<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Selenium" data-toc-modified-id="Selenium-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Selenium</a></span><ul class="toc-item"><li><span><a href="#Los-drivers" data-toc-modified-id="Los-drivers-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Los drivers</a></span></li><li><span><a href="#Capturar-elementos-con-Selenium" data-toc-modified-id="Capturar-elementos-con-Selenium-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Capturar elementos con Selenium</a></span></li></ul></li><li><span><a href="#Manos-a-la-obra" data-toc-modified-id="Manos-a-la-obra-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Manos a la obra</a></span></li></ul></div>

# Selenium

Hacer web scraping se ha convertido en una herramienta muy poderosa para la extracción de datos y con ellos alimentar nuestras aplicaciones para realizar tareas increíbles. En esta ocasión usaremos ese poder para obtener las recompensas del mundial de League of Legends.
Haremos uso de selenium pues nos permite de manera muy dinámica explorar y obtener elementos de árbol de HTML e interactuar con los resultados de las acciones.

In [1]:
#!pip install selenium
#!pip install webdriver-manager

## Los drivers

Selenium emplea “drivers” para poder acceder al contenido del sitio web, un driver es solo una versión reducida de un navegador que el código de selenium  utiliza, existen por ejemplo los drivers. Para descargarse los drivers: 


- [Driver Chrome](https://chromedriver.storage.googleapis.com/index.html?path=2.43/)


- [Driver Firefox](https://github.com/mozilla/geckodriver/releases)


- [Driver Opera](https://github.com/operasoftware/operachromiumdriver/releases)


> Cuando nos hayamos descargado el driver, tendremos un archivo .exe que tendremos que guardar en la misma carpeta de donde estemos trabajando. 

Podemos cargar los `drivers` de dos formas: 

```python
driver = webdriver.Chrome("/RutaAlDriver/chromedriver.exe")
```


También lo podemos hacer sin necesidad de descargarnos el driver: 

```python
driver = webdriver.Chrome(ChromeDriverManager().install())
```

## Capturar elementos con Selenium 

- Para encontrar un elemento 

```python
find_element("en base a que queremos buscar", "el elemento")
```
- Para encontrar múltiples elementos (este método nos devuelve una lista):

```python
find_element("en base a que queremos buscar", "el elemento")

```

- Otros mátodos que pueden ser interesantes: 

```python
.click() # simula un click en el navegador
.send_keys # va a rellenar un campo
.implicitly_wait # # indica al Selenium WebDriver que espere un determinado tiempo antes de lanzar una excepción. Una vez que se establece este tiempo, WebDriver esperará el elemento antes de que se produzca la excepción.
.text # obtener el texto del elemento selenio
```

In [24]:
import requests
import pandas as pd
from time import sleep
import numpy as np
from tqdm import tqdm


from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.chrome.options import Options
import numpy as np



import warnings
warnings.filterwarnings('ignore')

In [3]:
driver = webdriver.Chrome(ChromeDriverManager().install())
driver.get('https://chromedriver.chromium.org/downloads')

[WDM] - Downloading: 100%|██████████| 6.58M/6.58M [00:02<00:00, 2.70MB/s]

In [ ]:
## opciones selenium
opciones= Options()
opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
#para ocultarme como robot
opciones.add_experimental_option('useAutomationExtension', False)
opciones.add_argument('--start-maximized') #empezar maximizado
opciones.add_argument('user.data-dir=selenium') #guarda las cookies
opciones.add_argument('--incognito')#incognito window

In [28]:
## iniciamos el web driver
driver = webdriver.Chrome(ChromeDriverManager().install())
driver.get('https://www.wunderground.com/history')
## te metes dentro de la página y con inspeccionar, seleccionas el elemento de las cookies --> copy / selector
##por si tu ordenador es un poco lento, le puedes poner un tiempo para que intente hacerlo
driver.implicitly_wait(30)
## si quieres tardar más, le pones un sleep
## sleep(20)
driver.find_element('css selector', '#truste-consent-button').click()
sleep(1)
driver.find_element('xpath', "/html/body/app-root/app-history-search/one-column-layout/wu-header/sidenav/mat-sidenav-container/mat-sidenav-content/div/section/div[2]/div/div/div/div/form/div[1]/input").send_keys('Madrid, Madrid, Spain', Keys.TAB) ## para introducir los datos de ciudad
driver.implicitly_wait(10)
sleep(2)
driver.find_element('css selector', '#dateSubmit').click()
sleep(2)
driver.find_element('css selector', '#dateSubmit').click()#.click()
sleep(3)
driver.find_element("xpath", '//*[@id="inner-content"]/div[2]/div[1]/div[1]/div[1]/div/lib-link-selector/div/div/div/a[3]').click()

resultado = driver.find_element('css selector', '#inner-content > div.region-content-main > div.row > div:nth-child(5) > div:nth-child(1) > div').text

In [27]:
resultado

'Daily Observations\nTime Temperature (°F) Dew Point (°F) Humidity (%) Wind Speed (mph) Pressure (in) Precipitation (in)\nDec\n1\n2\n3\n4\n5\n6\n7\n8\n9\n10\n11\n12\n13\n14\n15\n16\n17\nMax Avg Min\n54 47.4 41\n48 42.3 37\n52 41.6 34\n46 41.5 37\n50 45.6 41\n52 49.8 48\n54 49.1 45\n54 48.9 46\n52 48.2 46\n55 48.0 45\n48 45.0 43\n59 52.4 46\n59 56.5 55\n55 52.8 50\n52 48.6 46\n52 47.0 41\n50 47.6 46\nMax Avg Min\n39 34.0 25\n37 33.4 30\n41 36.1 32\n45 39.5 34\n50 44.5 39\n50 48.0 46\n50 47.2 45\n52 47.7 45\n50 47.0 45\n46 45.3 41\n48 43.5 41\n57 51.7 46\n57 55.4 52\n54 51.3 48\n50 46.1 45\n46 44.0 41\n46 45.5 45\nMax Avg Min\n87 63.0 33\n87 70.5 61\n100 81.7 54\n100 92.1 81\n100 96.3 93\n100 94.5 88\n100 94.4 82\n100 95.6 87\n100 95.5 87\n100 90.5 67\n100 94.3 81\n100 97.4 88\n100 95.8 88\n100 95.2 82\n100 91.1 82\n100 89.0 71\n100 91.4 82\nMax Avg Min\n8 4.4 0\n8 3.5 0\n8 2.4 0\n5 1.9 0\n6 4.2 2\n6 1.8 0\n5 1.7 0\n13 6.3 0\n12 4.4 0\n15 7.4 0\n16 6.8 0\n20 9.7 1\n22 11.2 5\n20 6.7 2\n18 10.1 5\n13 4.4 0\n5 2.1 0\nMax Avg Min\n27.6 27.6 27.6\n27.6 27.6 27.5\n27.5 27.4 27.3\n27.6 27.4 27.4\n27.6 27.6 27.5\n27.6 27.6 27.6\n27.6 27.6 27.5\n27.5 27.3 27.2\n27.3 27.2 27.1\n27.5 27.4 27.3\n27.5 27.4 27.3\n27.5 27.4 27.3\n27.4 27.3 27.2\n27.4 27.3 27.2\n27.3 27.2 27.1\n27.6 27.4 27.3\n27.7 27.6 27.6\nTotal\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00'

## vamos ahora a estraer información de años y meses distintos

In [29]:
urls = []
for año in range(2010, 2023):
    for mes in range(1, 12):
        urls.append(f"https://www.wunderground.com/history/monthly/LECU/date/{año}-{mes}")
urls[:3]

['https://www.wunderground.com/history/monthly/LECU/date/2010-1',
 'https://www.wunderground.com/history/monthly/LECU/date/2010-2',
 'https://www.wunderground.com/history/monthly/LECU/date/2010-3']

In [41]:
dormir = np.random.randint(0,5)

In [45]:
driver = webdriver.Chrome(ChromeDriverManager().install())
lista_resultados = []
for url in urls:
    driver.get(url) 
    try:
        sleep(dormir)
        ## aceptamos cookies
        driver.find_element('css selector', '#truste-consent-button').click()
        ## captura la tabla 
        resultado = driver.find_element('css selector', '#inner-content > div.region-content-main > div.row > div:nth-child(5) > div:nth-child(1) > div').text
        lista_resultados.append(resultado)
        sleep(dormir)
    except:
        sleep(dormir)
        ## captura la tabla 
        resultado = driver.find_element('css selector', '#inner-content > div.region-content-main > div.row > div:nth-child(5) > div:nth-child(1) > div').text
        lista_resultados.append(resultado)
        sleep(dormir)

In [46]:
len(lista_resultados)

143

### a limpiar el resultado

In [48]:
df_temp = pd.DataFrame(lista_resultados)
df_temp.head()

                                                   0
0  Daily Observations\nTime Temperature (°F) Dew ...
1  Daily Observations\nTime Temperature (°F) Dew ...
2  Daily Observations\nTime Temperature (°F) Dew ...
3  Daily Observations\nTime Temperature (°F) Dew ...
4  Daily Observations\nTime Temperature (°F) Dew ...

In [57]:
x = df_temp[0][0]
x = x.split('\n')

In [58]:
pd.DataFrame(np.array(x[2:]).reshape(7,32).T)

,0,1,2,3,4,5,6
0,Jan,Max Avg Min,Max Avg Min,Max Avg Min,Max Avg Min,Max Avg Min,Total
1,1,45 41.6 36,41 37.9 36,100 87.6 81,29 19.7 5,27.6 27.4 27.4,0.00
2,2,45 42.0 36,41 38.1 36,100 87.7 71,8 3.2 0,27.8 27.7 27.7,0.00
3,3,43 42.1 39,43 39.5 36,100 91.3 76,9 1.4 0,27.7 27.6 27.6,0.00
4,4,48 45.2 43,48 45.2 43,100 100.0 100,7 3.2 0,27.5 27.3 27.2,0.00
5,5,52 47.4 45,46 41.9 36,100 82.0 62,13 4.3 0,27.3 27.2 27.2,0.00
6,6,43 39.8 37,39 28.7 25,100 65.5 49,14 8.1 3,27.4 27.3 27.3,0.00
7,7,36 33.3 32,36 19.0 0,100 95.8 65,13 8.9 5,27.2 27.1 27.1,0.00
8,8,36 32.3 28,19 12.9 9,64 45.9 33,16 9.7 2,27.5 27.4 27.3,0.00
9,9,36 31.2 27,18 16.3 14,69 54.0 41,17 12.3 2,27.6 27.6 27.6,0.00
10,10,32 27.5 23,27 20.4 14,100 76.1 55,5 1.3 0,27.6 27.6 27.5,0.00
11,11,39 31.0 25,30 26.2 23,100 83.8 52,7 2.2 0,27.8 27.6 27.6,0.00
12,12,37 33.8 32,37 22.8 0,100 100.0 100,16 5.2 0,27.6 27.5 27.4,0.00
13,13,45 40.6 36,45 40.6 36,100 100.0 100,10 4.3 0,27.6 27.5 27.3,0.00
14,14,52 46.5 43,43 30.3 0,87 57.5 37,28 19.8 6,27.6 27.4 27.2,0.00
15,15,48 42.1 36,37 26.3 0,93 75.3 57,5 1.8 0,27.9 27.8 27.8,0.00
16,16,46 44.5 37,46 42.5 37,100 91.8 76,7 1.4 0,27.8 27.8 27.8,0.00
17,17,54 48.9 45,52 48.2 45,100 97.9 82,13 6.6 0,27.9 27.8 27.8,0.00
18,18,55 50.2 46,50 44.1 39,100 81.2 54,9 3.6 0,27.8 27.7 27.7,0.00
19,19,52 49.3 43,52 49.0 43,100 98.9 94,13 7.6 1,27.7 27.7 27.7,0.00
20,20,54 46.4 41,46 34.6 0,100 72.5 38,17 10.2 1,27.8 27.8 27.7,0.00
21,21,48 41.7 34,39 36.5 34,100 82.5 62,6 1.0 0,27.8 27.8 27.8,0.00
22,22,46 41.8 37,43 39.1 37,100 90.8 76,3 1.3 0,27.8 27.7 27.7,0.00
23,23,50 47.0 43,43 34.9 0,100 68.5 50,13 5.4 1,27.6 27.6 27.6,0.00
24,24,52 47.6 41,41 30.6 0,93 63.4 41,8 3.9 0,27.8 27.8 27.7,0.00
25,25,46 42.4 37,30 25.8 19,70 52.9 43,10 5.5 1,27.8 27.8 27.7,0.00
26,26,48 40.6 34,30 24.8 0,93 57.9 39,16 9.2 0,27.8 27.7 27.7,0.00
27,27,39 35.8 30,28 18.7 12,80 50.8 38,15 8.6 1,27.8 27.7 27.6,0.00
28,28,52 40.4 25,27 21.0 14,86 49.9 24,6 1.6 0,27.7 27.7 27.6,0.00
29,29,52 44.5 30,36 28.2 23,81 55.1 33,20 12.8 0,27.5 27.4 27.3,0.00
30,30,50 43.1 0,30 24.6 0,75 53.2 0,21 13.7 9,27.4 27.4 27.4,0.00
31,31,52 44.1 34,34 15.8 0,81 61.5 47,16 11.8 5,27.5 27.4 27.4,0.00

In [60]:
x[2:].index('Max Avg Min')

32

In [68]:
df_clima = pd.DataFrame()

for i in range(len(df_temp)):
    subdata = df_temp[0][i].split('\n') ## df.iloc[i, 0] es equivalente
    #print(type(subdata))
    print(subdata[2])

    indice = subdata[2:].index('Max Avg Min')
    print(indice)
    df_de_uno = pd.DataFrame(np.array(subdata[2:]).reshape(7,indice).T)
    df_de_uno['mes'] = subdata[2]

    df_clima = pd.concat([df_clima, df_de_uno], axis = 0)

Jan
32
Feb
29
Mar
32
Apr
31
May
32
Jun
31
Jul
32
Aug
32
Sep
31
Oct
32
Nov
31
Jan
32
Feb
29
Mar
32
Apr
31
May
32
Jun
31
Jul
32
Aug
32
Sep
31
Oct
32
Nov
31
Jan
32
Feb
30
Mar
32
Apr
31
May
32
Jun
31
Jul
32
Aug
32
Sep
31
Oct
32
Nov
31
Jan
32
Feb
29
Mar
32
Apr
31
May
32
Jun
31
Jul
32
Aug
32
Sep
31
Oct
32
Nov
31
Jan
32
Feb
29
Mar
32
Apr
31
May
32
Jun
31
Jul
32
Aug
32
Sep
31
Oct
32
Nov
31
Jan
32
Feb
29
Mar
32
Apr
31
May
32
Jun
31
Jul
32
Aug
32
Sep
31
Oct
32
Nov
31
Jan
32
Feb
30
Mar
32
Apr
31
May
32
Jun
31
Jul
32
Aug
32
Sep
31
Oct
32
Nov
31
Jan
32
Feb
29
Mar
32
Apr
31
May
32
Jun
31
Jul
32
Aug
32
Sep
31
Oct
32
Nov
31
Jan
32
Feb
29
Mar
32
Apr
31
May
32
Jun
31
Jul
32
Aug
32
Sep
31
Oct
32
Nov
31
Jan
32
Feb
29
Mar
32
Apr
31
May
32
Jun
31
Jul
32
Aug
32
Sep
31
Oct
32
Nov
31
Jan
32
Feb
30
Mar
32
Apr
31
May
32
Jun
31
Jul
32
Aug
32
Sep
31
Oct
32
Nov
31
Jan
32
Feb
29
Mar
32
Apr
31
May
32
Jun
31
Jul
32
Aug
32
Sep
31
Oct
32
Nov
31
Jan
32
Feb
29
Mar
32
Apr
31
May
32
Jun
31
Jul
32
Aug
32
Sep
31
Oct
32
Nov
31

In [70]:
df_clima.shape

(4488, 8)

In [74]:
df_clima.head(45)

,0,1,2,3,4,5,6,mes
0,Jan,Max Avg Min,Max Avg Min,Max Avg Min,Max Avg Min,Max Avg Min,Total,Jan
1,1,45 41.6 36,41 37.9 36,100 87.6 81,29 19.7 5,27.6 27.4 27.4,0.00,Jan
2,2,45 42.0 36,41 38.1 36,100 87.7 71,8 3.2 0,27.8 27.7 27.7,0.00,Jan
3,3,43 42.1 39,43 39.5 36,100 91.3 76,9 1.4 0,27.7 27.6 27.6,0.00,Jan
4,4,48 45.2 43,48 45.2 43,100 100.0 100,7 3.2 0,27.5 27.3 27.2,0.00,Jan
5,5,52 47.4 45,46 41.9 36,100 82.0 62,13 4.3 0,27.3 27.2 27.2,0.00,Jan
6,6,43 39.8 37,39 28.7 25,100 65.5 49,14 8.1 3,27.4 27.3 27.3,0.00,Jan
7,7,36 33.3 32,36 19.0 0,100 95.8 65,13 8.9 5,27.2 27.1 27.1,0.00,Jan
8,8,36 32.3 28,19 12.9 9,64 45.9 33,16 9.7 2,27.5 27.4 27.3,0.00,Jan
9,9,36 31.2 27,18 16.3 14,69 54.0 41,17 12.3 2,27.6 27.6 27.6,0.00,Jan
10,10,32 27.5 23,27 20.4 14,100 76.1 55,5 1.3 0,27.6 27.6 27.5,0.00,Jan
11,11,39 31.0 25,30 26.2 23,100 83.8 52,7 2.2 0,27.8 27.6 27.6,0.00,Jan
12,12,37 33.8 32,37 22.8 0,100 100.0 100,16 5.2 0,27.6 27.5 27.4,0.00,Jan
13,13,45 40.6 36,45 40.6 36,100 100.0 100,10 4.3 0,27.6 27.5 27.3,0.00,Jan
14,14,52 46.5 43,43 30.3 0,87 57.5 37,28 19.8 6,27.6 27.4 27.2,0.00,Jan
15,15,48 42.1 36,37 26.3 0,93 75.3 57,5 1.8 0,27.9 27.8 27.8,0.00,Jan
16,16,46 44.5 37,46 42.5 37,100 91.8 76,7 1.4 0,27.8 27.8 27.8,0.00,Jan
17,17,54 48.9 45,52 48.2 45,100 97.9 82,13 6.6 0,27.9 27.8 27.8,0.00,Jan
18,18,55 50.2 46,50 44.1 39,100 81.2 54,9 3.6 0,27.8 27.7 27.7,0.00,Jan
19,19,52 49.3 43,52 49.0 43,100 98.9 94,13 7.6 1,27.7 27.7 27.7,0.00,Jan
20,20,54 46.4 41,46 34.6 0,100 72.5 38,17 10.2 1,27.8 27.8 27.7,0.00,Jan
21,21,48 41.7 34,39 36.5 34,100 82.5 62,6 1.0 0,27.8 27.8 27.8,0.00,Jan
22,22,46 41.8 37,43 39.1 37,100 90.8 76,3 1.3 0,27.8 27.7 27.7,0.00,Jan
23,23,50 47.0 43,43 34.9 0,100 68.5 50,13 5.4 1,27.6 27.6 27.6,0.00,Jan
24,24,52 47.6 41,41 30.6 0,93 63.4 41,8 3.9 0,27.8 27.8 27.7,0.00,Jan
25,25,46 42.4 37,30 25.8 19,70 52.9 43,10 5.5 1,27.8 27.8 27.7,0.00,Jan
26,26,48 40.6 34,30 24.8 0,93 57.9 39,16 9.2 0,27.8 27.7 27.7,0.00,Jan
27,27,39 35.8 30,28 18.7 12,80 50.8 38,15 8.6 1,27.8 27.7 27.6,0.00,Jan
28,28,52 40.4 25,27 21.0 14,86 49.9 24,6 1.6 0,27.7 27.7 27.6,0.00,Jan
29,29,52 44.5 30,36 28.2 23,81 55.1 33,20 12.8 0,27.5 27.4 27.3,0.00,Jan
30,30,50 43.1 0,30 24.6 0,75 53.2 0,21 13.7 9,27.4 27.4 27.4,0.00,Jan
31,31,52 44.1 34,34 15.8 0,81 61.5 47,16 11.8 5,27.5 27.4 27.4,0.00,Jan
0,Feb,Max Avg Min,Max Avg Min,Max Avg Min,Max Avg Min,Max Avg Min,Total,Feb
1,1,50 43.1 30,30 21.8 16,80 45.4 28,8 2.8 0,27.8 27.7 27.6,0.00,Feb
2,2,50 41.1 28,27 23.4 21,80 51.3 32,3 0.8 0,27.9 27.8 27.8,0.00,Feb
3,3,55 45.4 30,28 25.9 19,86 49.8 25,3 1.3 0,27.7 27.7 27.6,0.00,Feb
4,4,48 45.6 41,48 43.6 39,100 92.6 76,12 3.4 0,27.5 27.5 27.5,0.00,Feb
5,5,52 47.5 43,43 38.9 34,100 73.8 54,18 13.8 8,27.8 27.7 27.6,0.00,Feb
6,6,55 48.8 37,37 18.1 0,100 58.7 41,21 11.4 0,27.8 27.8 27.8,0.00,Feb
7,7,52 45.8 36,41 36.8 34,100 73.0 50,7 1.8 0,27.7 27.6 27.5,0.00,Feb
8,8,52 45.8 43,48 43.6 39,100 92.3 76,17 8.0 0,27.3 27.2 27.2,0.00,Feb
9,9,50 45.7 41,36 27.4 0,81 56.2 43,18 10.3 0,27.4 27.3 27.2,0.00,Feb
10,10,45 39.0 30,30 24.3 0,80 58.6 45,9 5.0 0,27.4 27.4 27.3,0.00,Feb
11,11,43 34.9 27,19 14.4 9,64 44.0 29,10 4.6 0,27.5 27.5 27.4,0.00,Feb
12,12,45 35.9 23,18 15.8 10,64 45.0 31,9 2.9 0,27.6 27.5 27.4,0.00,Feb

In [75]:
df_clima.drop([0], axis = 0, inplace=True)
df_clima.head(45)

,0,1,2,3,4,5,6,mes
1,1,45 41.6 36,41 37.9 36,100 87.6 81,29 19.7 5,27.6 27.4 27.4,0.00,Jan
2,2,45 42.0 36,41 38.1 36,100 87.7 71,8 3.2 0,27.8 27.7 27.7,0.00,Jan
3,3,43 42.1 39,43 39.5 36,100 91.3 76,9 1.4 0,27.7 27.6 27.6,0.00,Jan
4,4,48 45.2 43,48 45.2 43,100 100.0 100,7 3.2 0,27.5 27.3 27.2,0.00,Jan
5,5,52 47.4 45,46 41.9 36,100 82.0 62,13 4.3 0,27.3 27.2 27.2,0.00,Jan
6,6,43 39.8 37,39 28.7 25,100 65.5 49,14 8.1 3,27.4 27.3 27.3,0.00,Jan
7,7,36 33.3 32,36 19.0 0,100 95.8 65,13 8.9 5,27.2 27.1 27.1,0.00,Jan
8,8,36 32.3 28,19 12.9 9,64 45.9 33,16 9.7 2,27.5 27.4 27.3,0.00,Jan
9,9,36 31.2 27,18 16.3 14,69 54.0 41,17 12.3 2,27.6 27.6 27.6,0.00,Jan
10,10,32 27.5 23,27 20.4 14,100 76.1 55,5 1.3 0,27.6 27.6 27.5,0.00,Jan
11,11,39 31.0 25,30 26.2 23,100 83.8 52,7 2.2 0,27.8 27.6 27.6,0.00,Jan
12,12,37 33.8 32,37 22.8 0,100 100.0 100,16 5.2 0,27.6 27.5 27.4,0.00,Jan
13,13,45 40.6 36,45 40.6 36,100 100.0 100,10 4.3 0,27.6 27.5 27.3,0.00,Jan
14,14,52 46.5 43,43 30.3 0,87 57.5 37,28 19.8 6,27.6 27.4 27.2,0.00,Jan
15,15,48 42.1 36,37 26.3 0,93 75.3 57,5 1.8 0,27.9 27.8 27.8,0.00,Jan
16,16,46 44.5 37,46 42.5 37,100 91.8 76,7 1.4 0,27.8 27.8 27.8,0.00,Jan
17,17,54 48.9 45,52 48.2 45,100 97.9 82,13 6.6 0,27.9 27.8 27.8,0.00,Jan
18,18,55 50.2 46,50 44.1 39,100 81.2 54,9 3.6 0,27.8 27.7 27.7,0.00,Jan
19,19,52 49.3 43,52 49.0 43,100 98.9 94,13 7.6 1,27.7 27.7 27.7,0.00,Jan
20,20,54 46.4 41,46 34.6 0,100 72.5 38,17 10.2 1,27.8 27.8 27.7,0.00,Jan
21,21,48 41.7 34,39 36.5 34,100 82.5 62,6 1.0 0,27.8 27.8 27.8,0.00,Jan
22,22,46 41.8 37,43 39.1 37,100 90.8 76,3 1.3 0,27.8 27.7 27.7,0.00,Jan
23,23,50 47.0 43,43 34.9 0,100 68.5 50,13 5.4 1,27.6 27.6 27.6,0.00,Jan
24,24,52 47.6 41,41 30.6 0,93 63.4 41,8 3.9 0,27.8 27.8 27.7,0.00,Jan
25,25,46 42.4 37,30 25.8 19,70 52.9 43,10 5.5 1,27.8 27.8 27.7,0.00,Jan
26,26,48 40.6 34,30 24.8 0,93 57.9 39,16 9.2 0,27.8 27.7 27.7,0.00,Jan
27,27,39 35.8 30,28 18.7 12,80 50.8 38,15 8.6 1,27.8 27.7 27.6,0.00,Jan
28,28,52 40.4 25,27 21.0 14,86 49.9 24,6 1.6 0,27.7 27.7 27.6,0.00,Jan
29,29,52 44.5 30,36 28.2 23,81 55.1 33,20 12.8 0,27.5 27.4 27.3,0.00,Jan
30,30,50 43.1 0,30 24.6 0,75 53.2 0,21 13.7 9,27.4 27.4 27.4,0.00,Jan
31,31,52 44.1 34,34 15.8 0,81 61.5 47,16 11.8 5,27.5 27.4 27.4,0.00,Jan
1,1,50 43.1 30,30 21.8 16,80 45.4 28,8 2.8 0,27.8 27.7 27.6,0.00,Feb
2,2,50 41.1 28,27 23.4 21,80 51.3 32,3 0.8 0,27.9 27.8 27.8,0.00,Feb
3,3,55 45.4 30,28 25.9 19,86 49.8 25,3 1.3 0,27.7 27.7 27.6,0.00,Feb
4,4,48 45.6 41,48 43.6 39,100 92.6 76,12 3.4 0,27.5 27.5 27.5,0.00,Feb
5,5,52 47.5 43,43 38.9 34,100 73.8 54,18 13.8 8,27.8 27.7 27.6,0.00,Feb
6,6,55 48.8 37,37 18.1 0,100 58.7 41,21 11.4 0,27.8 27.8 27.8,0.00,Feb
7,7,52 45.8 36,41 36.8 34,100 73.0 50,7 1.8 0,27.7 27.6 27.5,0.00,Feb
8,8,52 45.8 43,48 43.6 39,100 92.3 76,17 8.0 0,27.3 27.2 27.2,0.00,Feb
9,9,50 45.7 41,36 27.4 0,81 56.2 43,18 10.3 0,27.4 27.3 27.2,0.00,Feb
10,10,45 39.0 30,30 24.3 0,80 58.6 45,9 5.0 0,27.4 27.4 27.3,0.00,Feb
11,11,43 34.9 27,19 14.4 9,64 44.0 29,10 4.6 0,27.5 27.5 27.4,0.00,Feb
12,12,45 35.9 23,18 15.8 10,64 45.0 31,9 2.9 0,27.6 27.5 27.4,0.00,Feb
13,13,41 35.1 28,19 17.2 16,60 48.2 39,10 5.8 0,27.4 27.4 27.4,0.00,Feb
14,14,41 33.6 19,19 17.3 14,80 52.7 36,7 2.2 0,27.5 27.4 27.3,0.00,Feb

In [76]:
df_clima[1].str.split(" ", expand=True)

     0     1   2
1   45  41.6  36
2   45  42.0  36
3   43  42.1  39
4   48  45.2  43
5   52  47.4  45
..  ..   ...  ..
26  55  45.0  37
27  55  46.5  37
28  54  47.0  41
29  54  44.1  36
30  52  45.2  37

[4345 rows x 3 columns]

In [77]:
listas = [["Tmax", "Avg", "Tmin"], ["Dmax", "DAvg", "Dmin"], ["Hmax", "HAvg", "Hmin"], ["Wmax", "WAvg", "Wmin"], 
         ["Pmax", "PAvg", "Pmin"]]

In [79]:
columnas = df_clima.columns[1:6]
columnas

Index([1, 2, 3, 4, 5], dtype='object')

In [81]:
for col, nombre in zip(columnas, listas):
    print(col, '---', nombre)
    df_clima[nombre] = df_clima[col].str.split(" ", expand=True)

1 --- ['Tmax', 'Avg', 'Tmin']
2 --- ['Dmax', 'DAvg', 'Dmin']
3 --- ['Hmax', 'HAvg', 'Hmin']
4 --- ['Wmax', 'WAvg', 'Wmin']
5 --- ['Pmax', 'PAvg', 'Pmin']

In [82]:
df_clima.head()

,0,1,2,3,4,5,6,mes,Tmax,Avg,...,Dmin,Hmax,HAvg,Hmin,Wmax,WAvg,Wmin,Pmax,PAvg,Pmin
1,1,45 41.6 36,41 37.9 36,100 87.6 81,29 19.7 5,27.6 27.4 27.4,0.00,Jan,45,41.6,...,36,100,87.6,81,29,19.7,5,27.6,27.4,27.4
2,2,45 42.0 36,41 38.1 36,100 87.7 71,8 3.2 0,27.8 27.7 27.7,0.00,Jan,45,42.0,...,36,100,87.7,71,8,3.2,0,27.8,27.7,27.7
3,3,43 42.1 39,43 39.5 36,100 91.3 76,9 1.4 0,27.7 27.6 27.6,0.00,Jan,43,42.1,...,36,100,91.3,76,9,1.4,0,27.7,27.6,27.6
4,4,48 45.2 43,48 45.2 43,100 100.0 100,7 3.2 0,27.5 27.3 27.2,0.00,Jan,48,45.2,...,43,100,100.0,100,7,3.2,0,27.5,27.3,27.2
5,5,52 47.4 45,46 41.9 36,100 82.0 62,13 4.3 0,27.3 27.2 27.2,0.00,Jan,52,47.4,...,36,100,82.0,62,13,4.3,0,27.3,27.2,27.2

In [83]:
df_clima.drop(range(1,6), axis = 1, inplace=True)
df_clima.head()

,0,6,mes,Tmax,Avg,Tmin,Dmax,DAvg,Dmin,Hmax,HAvg,Hmin,Wmax,WAvg,Wmin,Pmax,PAvg,Pmin
1,1,0.00,Jan,45,41.6,36,41,37.9,36,100,87.6,81,29,19.7,5,27.6,27.4,27.4
2,2,0.00,Jan,45,42.0,36,41,38.1,36,100,87.7,71,8,3.2,0,27.8,27.7,27.7
3,3,0.00,Jan,43,42.1,39,43,39.5,36,100,91.3,76,9,1.4,0,27.7,27.6,27.6
4,4,0.00,Jan,48,45.2,43,48,45.2,43,100,100.0,100,7,3.2,0,27.5,27.3,27.2
5,5,0.00,Jan,52,47.4,45,46,41.9,36,100,82.0,62,13,4.3,0,27.3,27.2,27.2

In [84]:
df_clima.rename(columns={0:'dia', 6:'precipitacion'}, inplace=True)
df_clima.head()

,dia,precipitacion,mes,Tmax,Avg,Tmin,Dmax,DAvg,Dmin,Hmax,HAvg,Hmin,Wmax,WAvg,Wmin,Pmax,PAvg,Pmin
1,1,0.00,Jan,45,41.6,36,41,37.9,36,100,87.6,81,29,19.7,5,27.6,27.4,27.4
2,2,0.00,Jan,45,42.0,36,41,38.1,36,100,87.7,71,8,3.2,0,27.8,27.7,27.7
3,3,0.00,Jan,43,42.1,39,43,39.5,36,100,91.3,76,9,1.4,0,27.7,27.6,27.6
4,4,0.00,Jan,48,45.2,43,48,45.2,43,100,100.0,100,7,3.2,0,27.5,27.3,27.2
5,5,0.00,Jan,52,47.4,45,46,41.9,36,100,82.0,62,13,4.3,0,27.3,27.2,27.2

In [ ]:
medallero_juegos.find_all('tr')[0].find_all('th')[5].text ## no nos interesa porque está endemoniado
## vamos a coger directamente los tds

'Total\n'

# ORIGINAL

# Manos a la obra

Lo primero que vamos a hacer es definir una serie de opciones para trabajar con Selenium

In [ ]:
opciones= Options()
opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
#para ocultarme como robot
opciones.add_experimental_option('useAutomationExtension', False)
opciones.add_argument('--start-maximized') #empezar maximizado
opciones.add_argument('user.data-dir=selenium') #guarda las cookies
opciones.add_argument('--incognito')#incognito window

In [ ]:
# iniciamos el driver
driver = webdriver.Chrome(ChromeDriverManager().install())
## accedemos a la pagina web

driver.get("https://www.wunderground.com/history")
driver.implicitly_wait(10)
# esperamos
driver.find_element("css selector", "#truste-consent-button").click()
# aceptamos las cookies

sleep(5)
# seleccionamos la casilla para poner la ciudad por la que queremos buscar
driver.find_element("css selector", "#historySearch").send_keys("Madrid, Madrid, Spain", Keys.TAB)
sleep(5)
# por lo que sea le tenemos que dar dos veces al botón de enviar
driver.find_element("xpath", '//*[@id="dateSubmit"]').click()
sleep(2)
driver.find_element("xpath", '//*[@id="dateSubmit"]').click()
sleep(5)

driver.find_element("xpath", '//*[@id="inner-content"]/div[2]/div[1]/div[1]/div[1]/div/lib-link-selector/div/div/div/a[3]').click()
# seleccionamos que nos los valores medios del mes
resultado = driver.find_element("css selector", "#inner-content > div.region-content-main > div.row > div:nth-child(5) > div:nth-child(1) > div > lib-city-history-observation > div > div.observation-table.ng-star-inserted").text

In [ ]:
resultado

Hemos accedido a la información de un dia, perfecto! Pero que pasa si queremos más dias?

In [ ]:
# sacamos todas las listas que url que necesitamos

url_list = []

for year in range(2010, 2021):
    for month in range(1, 13):
        url_list.append(f"https://www.wunderground.com/history/monthly/LEMD/date/{year}-{month}")

In [ ]:
# ya tenemos la lista de las url que queremos. 
len(url_list)

In [ ]:
url_list[:3]

In [ ]:
# sacamos la tabla para cada una de las url de arriba

driver = webdriver.Chrome(ChromeDriverManager().install())
result_list = []

for i in url_list[:3]: 
    driver.get(i)
    try:
        sleep(5)
        driver.find_element("css selector", '#truste-consent-button').click()
        sleep(2)
        resultado = driver.find_element("css selector","#inner-content > div.region-content-main > div.row > div:nth-child(5) > div:nth-child(1) > div > lib-city-history-observation > div > div.observation-table.ng-star-inserted").text
        result_list.append(resultado)
    except: 
        sleep(5)
        resultado = driver.find_element("css selector","#inner-content > div.region-content-main > div.row > div:nth-child(5) > div:nth-child(1) > div > lib-city-history-observation > div > div.observation-table.ng-star-inserted").text
        result_list.append(resultado)
driver.quit()

In [ ]:
# cada uno de los elementos de nuestra lista será una tabla

result_list

Convertimos toda la lista en dataframe

In [ ]:
df = pd.DataFrame(result_list)
df

In [ ]:
df.iloc[0][0]

In [ ]:
# sacamos la primera fila para ver como tenemos la info en cada fila. 

x = df.iloc[0][0].split("\n")

In [ ]:
# qué es x?

x[:5]

In [ ]:
# lo podemos convertir a dataframe?

pd.DataFrame(np.array(x[1:]).reshape(7, 32)).T

Para hacer el `reshape` necesitamos tener en cuenta el número de dias que hay en cada mes. Lo que podemos hacer es sacar el índice del valor `"Max Avg Min"` que será el siguiente valor después de terminar la información de los dias del mes 

**¿Nos acordamos del método `index`?** 👇🏽

In [ ]:
# nos devuelve la posición en nuestro dataframe. 
x[1:].index("Max Avg Min")

In [ ]:
len(df)

In [ ]:
# hacemos un dataframe gordote
df_clima = pd.DataFrame()

for i in range(len(df)):
    x = list(df.iloc[i][0].split("\n"))
    
    mi_ind = x[1:].index("Max Avg Min")
    print(mi_ind)
    
    df_solo =  pd.DataFrame(np.array(x[1:]).reshape(7, mi_ind)).T
    
    df_solo.columns = ["Time", "Temperature (° F)", "Dew Point (° F)", "Humidity (%)", "Wind Speed (mph)", "Pressure (Hg)", "Precipitation (in)"]
    df_solo["month"] = x[1]
    df_clima = pd.concat([df_clima, df_solo], axis = 0)

In [ ]:
df_clima.head(34)

In [ ]:
# separamos las columnas que tienen más de un dato 

df_clima[["Tmax", "Avg", "Tmin"]] = df_clima["Temperature (° F)"].str.split(" ", expand = True)

In [ ]:
def separar_columnas(lista, columna):
    df_clima[lista] = df_clima[columna].str.split(" ", expand = True)
    return df_clima[columna].str.split(" ", expand = True)

In [ ]:
columnas = df_clima.columns[1:6]
columnas

In [ ]:
listas = [["Tmax", "Avg", "Tmin"], ["Dmax", "DAvg", "Dmin"], ["Hmax", "HAvg", "Hmin"], ["Wmax", "WAvg", "Wmin"], 
         ["Pmax", "PAvg", "Pmin"]]

for c, l in zip(listas, columnas):
    print(separar_columnas(c,l))

In [ ]:
df_clima.head(2)

In [ ]:
# eliminamos cualquier fila que tenga un índice de 0
df_clima.drop([0], axis = 0, inplace = True)

In [ ]:
# volvemos a chequear los resultados
df_clima.head(3)