<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Libraries" data-toc-modified-id="Libraries-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Libraries</a></span></li><li><span><a href="#Crimes-in-Nueva-York" data-toc-modified-id="Crimes-in-Nueva-York-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Crimes in Nueva York</a></span><ul class="toc-item"><li><span><a href="#Time-to-map-the-dataset" data-toc-modified-id="Time-to-map-the-dataset-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Time to map the dataset</a></span><ul class="toc-item"><li><span><a href="#Configuration" data-toc-modified-id="Configuration-2.1.1"><span class="toc-item-num">2.1.1&nbsp;&nbsp;</span>Configuration</a></span></li><li><span><a href="#Save-the-configuration-in-.py-file" data-toc-modified-id="Save-the-configuration-in-.py-file-2.1.2"><span class="toc-item-num">2.1.2&nbsp;&nbsp;</span>Save the configuration in .py file</a></span></li><li><span><a href="#Save-the-map" data-toc-modified-id="Save-the-map-2.1.3"><span class="toc-item-num">2.1.3&nbsp;&nbsp;</span>Save the map</a></span></li></ul></li></ul></li><li><span><a href="#Time-series-in-Kepler" data-toc-modified-id="Time-series-in-Kepler-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Time series in Kepler</a></span></li><li><span><a href="#Uk-movements" data-toc-modified-id="Uk-movements-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Uk movements</a></span></li></ul></div>

![portada](https://miro.medium.com/max/7077/1*0l-WeqdtYRruoV_XxS-ZKg.png)

# Libraries

In [1]:
import pandas as pd
import geopandas as gpd
from keplergl import KeplerGl

In [ ]:
!pip install geopandas
!pip install keplergl

# Crimes in Nueva York

In [3]:
df = pd.read_csv("../data/NYPD_Shoot_.csv", index_col = 0)

In [4]:
df.head(2)

,INCIDENT_KEY,OCCUR_DATE,OCCUR_TIME,BORO,PRECINCT,JURISDICTION_CODE,LOCATION_DESC,STATISTICAL_MURDER_FLAG,PERP_AGE_GROUP,PERP_SEX,PERP_RACE,VIC_AGE_GROUP,VIC_SEX,VIC_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,New Georeferenced Column,icon
0,221467363,12/07/2020,05:50:00,BRONX,40,0,NaN,False,NaN,NaN,NaN,18-24,M,BLACK,1020183,239283,40.823387,-73.870170,POINT (-73.87017045 40.82338729100008),home
1,213923358,06/06/2020,21:00:00,BRONX,47,0,NaN,False,NaN,NaN,NaN,18-24,M,BLACK,1009548,258693,40.876699,-73.908523,POINT (-73.90852293799998 40.87669883700005),home

## Time to map the dataset

The usual Kepler.gl workflow is as follows:

    1- Add data to the map  
    2- Create data layers  
    3- Add filters  
    4- Customize your map settings  
    5- Save your map as an image and export it as a html file

### Configuration
Each map will have a configuration file in dictionary format. We can save this configuration and work with it later without having to touch the interface again.

### Save the configuration in .py file

In [ ]:
# Save map_1 config to a file

In [ ]:
# create the map with the configuration

### Save the map

# Time series in Kepler

Besides geospatial data, Kepler.gl’s can handle **spatiotemporal** data and add time playbacks to visualize data evolution over time. This is enabled by the “filters” concept in Kepler.gl.

For this example we are going to use a database of taxi movements in New York. The objective is to represent all the taxi movements in this city throughout the day. You can download the dateset [here](https://www1.nyc.gov/site/tlc/about/tlc-trip-record-data.page)

In [7]:
df_1 = pd.read_csv("../Input/nytrips.csv")
df_1.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,fare_amount,tip_amount,total_amount
0,2,2015-01-15 19:05:39 +00:00,2015-01-15 19:23:42 +00:00,1.0,1.59,-73.993896,40.750111,-73.974785,40.750618,12.0,3.25,17.05
1,2,2015-01-15 19:05:39 +00:00,2015-01-15 19:32:00 +00:00,1.0,2.38,-73.976425,40.739811,-73.983978,40.757889,16.5,4.38,22.68
2,2,2015-01-15 19:05:40 +00:00,2015-01-15 19:21:00 +00:00,5.0,2.83,-73.968704,40.754246,-73.955124,40.786858,12.5,0.00,14.30
3,2,2015-01-15 19:05:40 +00:00,2015-01-15 19:28:18 +00:00,5.0,8.33,-73.863060,40.769581,-73.952713,40.785782,26.0,8.08,41.21
4,2,2015-01-15 19:05:41 +00:00,2015-01-15 19:20:36 +00:00,1.0,2.37,-73.945541,40.779423,-73.980850,40.786083,11.5,0.00,13.30

In [10]:
df_1.shape

(91910, 12)

In [8]:
df_1.dtypes

VendorID                   int64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count          float64
trip_distance            float64
pickup_longitude         float64
pickup_latitude          float64
dropoff_longitude        float64
dropoff_latitude         float64
fare_amount              float64
tip_amount               float64
total_amount             float64
dtype: object

##### To add data to the map, also we can use the add_data method. 
   > **1-** Load a basemap with the `height` and `width` parameters 
    
   > **2-** Use the `add_data` method. In this method we need to specify:  
        - data ==> the target dataframe  
        - name ==> the map's name

In [9]:
map_3 = KeplerGl(height = 600, weight = 500, data = {"viajes": df_1})
map_3

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(data={'viajes':        VendorID        tpep_pickup_datetime       tpep_dropoff_datetime  \
0         …

# Uk movements

In this example we will see the commute patterns in th UK. A origin destination map using 3D **arcs** to show commute patterns of England and Wales residence. 

Also,  we will see how to use the **brush** parameter. With this parameter we will establish a radius that will act as a filter. Placing the mouse over a point will only return the data that is within the radius that we have specified.

In [ ]:
df_2= pd.read_csv("../Input/uk_mov.csv")
df_2.head()

In [ ]:
# create the basemap and add the data

In [ ]:
# Save map_2 config to a file